{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Batman</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil officia ad illo architecto, quis earum minus corrupti quos voluptatibus quibusdam reprehenderit perspiciatis, et blanditiis vero quisquam praesentium repudiandae, ea non.
        </p>
    </div>
    <div class="col-4">
        <img src="/assets/img/batman.png" class="img-thumbnail" alt="">
    </div>
</div>


{{> footer }}